doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')

    title wetak - wannabe linear solver

    // Bootstrap core CSS
    link(href='components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
  body
    .container
      nav.navbar.navbar-default.navbar-static-top
        .container-fluid
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='#') wetak
          #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav
              li.active
                a(href='#') Home
              li
                a(href='#') About
              li
                a(href='#') Contact
      .container
        .row
          .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-xs-12
            h2 Data input
            textarea#input.form-control(rows="10")
              | min x1+x2-4x3
              | st x1+x2+2x3<=9
              | x1-3x2-x3<=20
              | -x1+x2+5x3<=4
              | end
            div.text-center(style="margin: 20px;")
              button#submit.btn.btn-info.btn-lg(type='submit' style="width: 200px; height: 60px;")
                i.glyphicon.glyphicon-menu-down
      .container
        .row
          .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-xs-12
            h2 Results output
            textarea#output.form-control(rows="10")
      footer(style="height: 50px;")

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='components/bootstrap/dist/js/bootstrap.min.js')
    script(src='js/bundle.js')
